<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>October</title>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1e45c25377.js" crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1>October 2021 <i class="fas fa-ghost"></i></h1>
    <section class="grid">
        <div class="day"><h2>Sunday</h2></div>
        <div class="day"><h2>Monday</h2></div>
        <div class="day"><h2>Tuesday</h2></div>
        <div class="day"><h2>Wednesday</h2></div>
        <div class="day"><h2>Thursday</h2></div>
        <div class="day"><h2>Friday</h2></div>
        <div class="day"><h2>Saturday</h2></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit">1<p style="font-size: 24px;">Coffee Day</p></div>
        <div class="unit">2</div>
        <div class="unit">3</div>
        <div class="unit">4<p style="font-size: 24px;">Taco Day</p></div>
        <div class="unit">5</div>
        <div class="unit">6</div>
        <div class="unit">7</div>
        <div class="unit">8</div>
        <div class="unit">9</div>
        <div class="unit">10<p style="font-size: 24px;">Columbus Day</p></div>
        <div class="unit">11</div>
        <div class="unit">12</div>
        <div class="unit">13</div>
        <div class="unit">14</div>
        <div class="unit">15</div>
        <div class="unit">16</div>
        <div class="unit">17</div>
        <div class="unit">18</div>
        <div class="unit">19</div>
        <div class="unit">20</div>
        <div class="unit">21</div>
        <div class="unit">22</div>
        <div class="unit">23</div>
        <div class="unit">24</div>
        <div class="unit">25</div>
        <div class="unit">26</div>
        <div class="unit">27</div>
        <div class="unit">28</div>
        <div class="unit">29</div>
        <div class="unit">30</div>
        <div class="unit">31<p style="font-size: 24px;">Halloween</p></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
        <div class="unit blank"></div>
    </section>
</body>
</html>
   