.title-container {
    /* NEW EVENTS */

    position: absolute;
    width: 695px;
    height: 70px;
    left: 74px;
    top: 481px;

    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 61px;

    color: #033266;
}

.subtitle-container {
    /* To Spice Up Your Quarter */

    position: absolute;
    width: 695px;
    height: 93px;
    left: 74px;
    top: 546px;

    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;

    color: #000000;
}

.content-container {
    position: absolute;
    width: 543px;
    height: 127px;
    left: 74px;
    top: 624px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133.3%;
    /* or 32px */

    text-align: justify;

    color: #000000;
}

.image-container {
    position: absolute;
    width: 1420px;
    height: 1430px;
    left: 500px;
    top: -395px;
    z-index: -2;
    /* background: url(IMG_2189.jpg); */
}

.overlay-container {
    position: absolute;
    width: 1420px;
    height: 1430px;
    left: 500px;
    top: -480px;
    z-index: -1;
    /* background: url(IMG_2189.jpg); */
}

.circle {
    display: absolute;
    margin-left: 657px;
    margin-top: 269px;
    width: 709px;
    height: 709px;
    background: #033266;
    border-radius: 50%;
    z-index: -1;
}

.minorHeroImage {
    position: absolute;
    width: 594px;
    height: 594px;
    left: 723px;
    top: 425px;
}

.button {
    position: absolute;
    width: 211px;
    height: 58px;
    left: 74px;
    top: 792px;

    background: rgba(255, 191, 0, 0.51);
    border-radius: 47px;
}

.buttonText {

    position: absolute;
    width: 175px;
    height: 25px;
    left: 92px;
    top: 808px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;

    color: #033266;


}

.april {
    position: absolute;
    width: 515px;
    height: 77px;
    left: 754px;
    margin-top: -330px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 87px;
    text-align: center;

    color: #FFFFFF;

}

.Picnic {


    position: absolute;
    width: 515px;
    height: 47px;
    margin-left: 754px;
    top: 680px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 133.3%;
    /* or 48px */

    text-align: center;

    color: #FFFFFF;
}